body
{
    background-color: rgb(255, 255, 255);
}
.bord
{
    border: 1px solid black;
    width: 660px;
    height: 670px;
    margin-left: 27%;
    border-radius: 10px;
    background-color: rgb(190, 184, 184);
}
.prvH1
{
    margin-top: 65px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: white;
}
.prvP
{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: rgb(78, 78, 78);
    margin-top: 25px;
}
#typeNumber
{
    width: 240px;
    height: 22px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 32%;
    font-size: 17px;
    border-radius: 5px;
}
#btn
{
    margin: 16px;
    width: 112px;
    height: 28px;
    margin-left: 43%;
    font-size: 19px; 
    border-radius: 8px;
}
#lab
{
    font-size: 28px;
    margin-left: 70%;
    color: rgb(49, 49, 49);
    position: relative;

}
#lab2
{
    font-size: 32px;
    position: absolute;
    margin-left: 2px;
}